<nav class="floating-menu" v-if="bag.length > 0">
      <h3> Your Bag </h3>
      <div v-for="item in bag">
        <p> {{item}} </p>
        <br>
      </div>
</nav>

<div id="chefs" class="parallax pricing">
  <div class="container inner">
    <% if current_user %>
      <% if final_products.length != 0%>
        <h2 class="section-title text-center">Your Bag</h2>
        <p class="lead main text-center"></p>
        <p class="lead main text-center">
          <% final_products.each do |product| %>
          <%= product.menu_item.name %>
          <br>
          Subtotal: $<%= product.menu_item.price %>
          <br>
          
          <% end %>
        </p>
        <div class="completeorder">
          <%= button_to "Finished", "/rabbitsburgers/orders", method: :post %>
        </div>
        
      <% end %>

    <% end %>
    <div class="row text-center chefs">
      <div class="col-sm-4">
        <div class="col-wrapper">
          <div class="icon-wrapper">
          </div>
        </div>
      </div>
      
      <div class="col-sm-4">
        <div class="col-wrapper">
          <div class="icon-wrapper">
          </div>
          <h3></h3>
          <p></p>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container --> 
</div><!-- /#chefs -->









<div id="food-menu" class="light-wrapper">
  <section class="ss-style-top"></section>
  <div class="container inner">

    <h2 class="section-title text-center">Our Burgers</h2>
    <p class="lead main text-center"></p>

    <div class="row">
      <div class="col-sm-3 col-md-3">
        <div class="menu-images"><img src="/img/comingsoon.jpg" alt="Hot Drinks"></div>
        <div class="menu-titles"><h1 class="">The Original on Grilled Sourdough</h1></div>
        <div class="menu-items ">
          <ul>
            <li>Grilled Sourdough</li>
            <li>Ketchup & Mayo</li>
            <li>Tomatoes</li>
            <li>Lettuce</li>
            <li>Cheese</li>
            <li>Patty</li>
            <li>Grilled Sourdough</li>
          </ul>
          <% if current_user %>
          <a class="btn btn-danger">
            <%= form_tag "/orderitems", method: :post do %>
            <input type="hidden" name="menu_item_id" value="1">
            <input type="hidden" name="menu_item_type" value="Burger">
            <input type="hidden" name="quantity" value="1">
            <input type="hidden" value="Bagged">
            <div class="addbutton">
              <input type="submit" value="Add to Order">
            </div>
            <% end %>
          </a>
          <% end %>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="menu-images "><img src="/img/cilantroverde.JPG" alt="Smoothies"></div>
        <div class="menu-titles"><h1 class="">Cilantro with Salsa Verde on a Classic Bun</h1></div>
        <div class="menu-items ">
          <ul>
            <li>Salsa Verde</li>
            <li>Classic Bun</li>
            <li>Ketchup & Mayo</li>
            <li>Tomatoes</li>
            <li>Onions</li>
            <li>Cilantro</li>
            <li>Lettuce</li>
            <li>Cheese</li>
            <li>Real Beef Patty</li>
            <li>Classic Bun</li>
          </ul>
          <% if current_user %>
          <a class="btn btn-danger">
            <%= form_tag "/orderitems", method: :post do %>
            <input type="hidden" name="menu_item_id" value="4">
            <input type="hidden" name="menu_item_type" value="Burger">
            <input type="hidden" name="quantity" value="1">
            <input type="hidden" value="Bagged">
            <div class="addbutton">
              <input type="submit" value="Add to Order">
            </div>
            <% end %>
          </a>
          <% end %>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="menu-images "><img src="/img/eggtot.JPG" alt="Ice Drinks"></div>
        <div class="menu-titles"><h1 class="">The Egg Breakfast Burger with Tator Tots</h1></div>
        <div class="menu-items ">
          <ul>
            <li>Your Choice of Salsa</li>
            <li>Grilled Sourdough</li>
            <li>Ketchup</li>
            <li>Tomatoes</li>
            <li>Cilantro</li>
            <li>Lettuce</li>
            <li>Egg Omelette With Cheese</li>
            <li>Beef Patty</li>
            <li>Tater Tots</li>
            <li>Avocados</li>
            <li>Grilled Sourdough</li>
          </ul>
          <% if current_user %>
          <a class="btn btn-danger">
            <%= form_tag "/orderitems", method: :post do %>
            <input type="hidden" name="menu_item_id" value="8">
            <input type="hidden" name="menu_item_type" value="Burger">
            <input type="hidden" name="quantity" value="1">
            <input type="hidden" value="Bagged">
            <div class="addbutton">
              <input type="submit" value="Add to Order">
            </div>
            <% end %>
          </a>
          <% end %>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="menu-images "><img src="/img/comingsoon.jpg" alt="Deserts"></div>
        <div class="menu-titles"><h1 class="">Avocados on Grilled Sourdough</h1></div>
        <div class="menu-items ">
          <ul>
            <li>Grilled Sourdough</li>
            <li>Ketchup & Mayo</li>
            <li>Tomatoes</li>
            <li>Onions</li>
            <li>Avocados </li>
            <li>Lettuce</li>
            <li>Cheese</li>
            <li>Patty</li>
            <li>Grilled Sourdough</li>
          </ul>
          <% if current_user %>
          <a class="btn btn-danger">
            <%= form_tag "/orderitems", method: :post do %>
            <input type="hidden" name="menu_item_id" value="7">
            <input type="hidden" name="menu_item_type" value="Burger">
            <input type="hidden" name="quantity" value="1">
            <input type="hidden" value="Bagged">
            <div class="addbutton">
              <input type="submit" value="Add to Order">
            </div>
            <% end %>
          </a>
          <% end %>
        </div>
      </div>
    </div>
    

    <div class="row">
      <div class="col-sm-3 col-md-3">
        <div class="menu-images "><img src="/img/comingsoonclassic.jpg" alt="Hot Drinks"></div>
        <div class="menu-titles"><h1 class="">The Original on Grilled Classic Bun</h1></div>
        <div class="menu-items ">
          <ul>
            <li>Grilled Classic</li>
            <li>Ketchup & Mayo</li>
            <li>Tomatoes</li>
            <li>Onions</li>
            <li>Lettuce</li>
            <li>Cheese</li>
            <li>Patty</li>
            <li>Grilled Classic Bun</li>
          </ul>
          <% if current_user %>
          <a class="btn btn-danger">
            <%= form_tag "/orderitems", method: :post do %>
            <input type="hidden" name="menu_item_id" value="2">
            <input type="hidden" name="menu_item_type" value="Burger">
            <input type="hidden" name="quantity" value="1">
            <input type="hidden" value="Bagged">
            <div class="addbutton">
              <input type="submit" value="Add to Order">
            </div>
            <% end %>
          </a>
          <% end %>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="menu-images "><img src="/img/comingsoon.jpg" alt="Smoothies"></div>
        <div class="menu-titles"><h1 class="">Salsa Verde on Grilled Sourdough</h1></div>
        <div class="menu-items ">
          <ul>
            <li>Salsa Verde</li>
            <li>Grilled Sourdough Bun</li>
            <li>Ketchup & Mayo</li>
            <li>Tomatoes</li>
            <li>Onions</li>
            <li>Lettuce</li>
            <li>Cheese</li>
            <li>Real Beef Patty</li>
            <li>Classic Bun</li>
          </ul>
          <% if current_user %>
          <a class="btn btn-danger">
            <%= form_tag "/orderitems", method: :post do %>
            <input type="hidden" name="menu_item_id" value="3">
            <input type="hidden" name="menu_item_type" value="Burger">
            <input type="hidden" name="quantity" value="1">
            <input type="hidden" value="Bagged">
            <div class="addbutton">
              <input type="submit" value="Add to Order">
            </div>
            <% end %>
          </a>
          <% end %>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="menu-images "><img src="/img/comingsoon.jpg" alt="Ice Drinks"></div>
        <div class="menu-titles"><h1 class="">Chipotle on Grilled Sourdough</h1></div>
        <div class="menu-items ">
          <ul>
            <li>Chipotle Sauce</li>
            <li>Grilled Sourdough</li>
            <li>Ketchup & Mayo</li>
            <li>Tomatoes</li>
            <li>Onions</li>
            <li>Lettuce</li>
            <li>Beef Patty</li>
            <li>Grilled Sourdough</li>
          </ul>
            <% if current_user %>
            <a class="btn btn-danger">
              <%= form_tag "/orderitems", method: :post do %>
              <input type="hidden" name="menu_item_id" value="5">
              <input type="hidden" name="menu_item_type" value="Burger">
              <input type="hidden" name="quantity" value="1">
              <input type="hidden" value="Bagged">
              <div class="addbutton">
                <input type="submit" value="Add to Order">
              </div>
              <% end %>
            </a>
            <% end %>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
          <div class="menu-images "><img src="/img/comingsoon.jpg" alt="Deserts"></div>
          <div class="menu-titles"><h1 class="">Red Tomatillo Salsa on Grilled Sourdough</h1></div>
          <div class="menu-items ">
            <ul>
              <li>Red Tomatillo Salsa</li>
              <li>Grilled Sourdough</li>
              <li>Ketchup & Mayo</li>
              <li>Tomatoes</li>
              <li>Onions</li>
              <li>Lettuce</li>
              <li>Cheese</li>
              <li>Patty</li>
              <li>Grilled Sourdough</li>
            </ul>
            <% if current_user %>
            <a class="btn btn-danger">
              <%= form_tag "/orderitems", method: :post do %>
              <input type="hidden" name="menu_item_id" value="6">
              <input type="hidden" name="menu_item_type" value="Burger">
              <input type="hidden" name="quantity" value="1">
              <input type="hidden" value="Bagged">
              <div class="addbutton">
                <input type="submit" value="Add to Order">
              </div>
              <% end %>
            </a>
            <% end %>
          </div>
      </div>
    </div>

  </div>
  <!-- /.container -->
  <section class="ss-style-bottom"></section>
</div><!--/#food-menu-->











<% if current_user %>
  <div id="special-offser" class="parallax pricing">
    <div class="container inner">
     <h2 class="section-title text-center">Order Here!</h2>
     <p class="lead main text-center"></p>  


      <div class="row">
        <div class="pricing-item">
          <h9 class="menubuttons1" v-on:click="clickButtonBurger('burger')">Burgers</h9>
          

          <h9 class="menubuttons2" v-on:click="clickButtonFries('friesanddrinks')">Fries & Drinks</h9>
          

          <h9 class="menubuttons3" v-on:click="clickButtonBuild('buildaburger')">Build-A-Burger</h9>


          <h9 class="menubuttons4" 
          v-on:click="clickButtonFinished('finished')">Finished</h9>




          <div v-for="burger in burgers" v-if="buttons[0].visible == false">


            
            <div class="col-md-6 col-sm-6">
              
              <div class="pricing-item">
                
                <img class="img-responsive img-thumbnail" src="/img/eggtot.JPG">
                
                <div class="pricing-item-details">
                  
                  <h3>{{burger.name}}</h3>
                  
                  
                  
                  <a class="btn btn-danger" v-on:click="addBag(burger)">Add to Order</a>
                  <div class="clearfix"></div>
                </div>
                <!--price tag-->
                <span class="hot-tag br-red">${{burger.price}}</span>
                <div class="clearfix"></div>
              </div>
            </div>
            


          </div>





          <div v-for="item in items" v-if="buttons[1].visible == false">
            <div class="col-md-6 col-sm-6">
              
              <div class="pricing-item">
                
                <img class="img-responsive img-thumbnail" src="/img/drinks.JPG">
                
                <div class="pricing-item-details">
                  
                  <h3>{{item.name}}</h3>
                  
                  
                  
                  <a class="btn btn-danger" v-on:click="addBag(item)">Add to Order</a>
                  <div class="clearfix">
                    
                  </div>
                </div>
                <!--price tag-->
                <span class="hot-tag br-red">${{item.price}}</span>
                <div class="clearfix"></div>
              </div>
            </div>

          </div>



          <div v-for="item in ingredients" v-if="buttons[2].visible == false">
            <h9 class="ingre" v-bind:id="'item'+item.id" v-on:click="ingredientSelect(item)"> {{item.name}}</h9>
          </div>
        </div>

      </div>



    </div>

  </div>
<% end %>
