<nav class="floating-menu" v-if="bag.length > 0">
      <h3> Your Bag <i class="icon-large icon-fast-food icon-white"></i> </h3>
      <div v-for="item in bag">
        <p class="itemname"> {{item.name}} </p>
        <p> </p>
      </div>
      <div class="itemnametwo"></div>
      <br>
      <div class="bagcheck">
        <i class="icon-large icon-hand-right" v-on:click="checkOut()">Checkout</i>
      </div>
<!--       <div v-for="items in bag">
 --></nav>
 <div class="userid"><%= current_user.id %></div>

<nav class="finishorder" v-if="orderdetails.length > 0">
  <h3> Finalize  </h3>
  <div v-for="orderitems in orderdetails">
    <p class="ordeats"> Item: {{orderitem.menu_item_type}} </p>
    <p class="ordeats"> Subtotal: ${{orderitem.subtotal}} </p>
    <p class="ordeats"> Tax: ${{@tax}} </p>
    <p class="ordeats"> Total: ${{@total}} </p>

    <p class="finalizer" v-on:click="orderPost()">Finalize</p>
</nav>

<div id="chefs" class="parallax pricing">
  <div class="container inner">
    
    <div class="row text-center chefs">
      <div class="col-sm-4">
        <div class="col-wrapper">
          <div class="icon-wrapper">
          </div>
        </div>
      </d





div class="home_text">
 	<% if !current_user %>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
	  			<div class="floatleft">
					<a href="/rabbitsburgers">Rabbit's Burgers</a>
					</div>
	  		</div>
	  		<div class="floatright">
	  			<a href="/signup">Signup</a>
	  		</div>
	  		<div class="floatright">
	  			<a href="/login">Login</a>
	  		</div>
		</nav>
	<% end %>
	<% if current_user %>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
	  			<div class="floatleft">
					<a href="/rabbitsburgers">Rabbit's Burgers</a>
	  		</div>
	  		<% if current_user.admin %>
	  			<div class="floatright">
	  				<a href="/users">Welcome Admin <%= current_user.first_name %></a>
		  		</div>
		  		<div class="floatright">
	  				<a href="/rabbitsburgers"> Open Slot </a>
	  			</div> 
		  	<% else %>
	  			<div class="floatright">
	  				<a href="/users">Welcome back, <%= current_user.first_name %></a>
	  			</div>
	  			<div class="floatright">
	  				<a href="/orderitems"> Your Order </a>
	  			</div> 
	  		<% end %>
	  	
	  		<br>
	  		<br>
	  		<br>
		</nav>
	<% end %>
</div>

<div class="row">
	<% if current_user %>
		<div class="col-md-1">
			<div class="well">
				<div class="signedinleft">
					<h3> Choose From Menu </h3>
				</div>
		</div>
			</div>
		<div class="col-md-2">
	
			<div class="well">
				<div class="burgerssign"> 
				<br>
				<br>
				<br>
				<br>
				<br>

					<% @burgerssorted.each do |burger| %>
						<a class="floatleftburger" href="/rabbitsburgers/<%= burger.id%>"> <%= burger.name %></a>
						<br> 
						<br>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="well">
			<br>
			<br>
			<br>
			<br>
				<div class="rowsignedin">
			  		<% @ingredients.each_slice(2) do |ingre| %>
			  			<% ingre.each do |item| %>
			  				<% if item.name == "Salsa Verde" %>
			  					<% item.name = "Salsa Verde" + " Salsa" %>
			  				<% end %>
			  				<%= item.name %>.
			  			<% end %>
			  			<br>
			  		<% end %>
		  		</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="well">
			<br>
				<div class="signedin">
		  			<h3> Or Build a Burger<br>With These Ingredients... </h3>
		  		</div>
			</div>
		</div>
	

		<br>
		<br>
		<br>
		
	<% end %>
</div>
<% if !current_user %>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<ul class="floatlefthook"> Real Beef, Real Patties</ul><br>
	<ul class="floatlefthook"> Home-Made Mexican Salsas</ul><br>
	<ul class="floatlefthook"> A Better Decision</ul>
	<h2><%= @user_id %> </h2>

	<div class="burgers">
		<% @burgerssorted.each do |burger| %>
			<a class="floatleftburger" href="/rabbitsburgers/<%= burger.id%>"> <%= burger.name %></a>
			<br>
			<br>
			<br>
		<% end %>
	</div>
<% end %>
<br>
<br>
<br>
<br>

<ul class="discount"> Get A Discount With The Mobile Phone App </ul>






    <div id="special-offser" class="parallax pricing">
        <div class="container inner">

            <h2 class="section-title text-center">Order Here!</h2>
            <p class="lead main text-center">CLick to View!</p>
            
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    
                    <div class="pricing-item">
                        
                        <a href="#"><img class="img-responsive img-thumbnail" src="/img/dish/dish3.jpg" alt=""></a>
                        
                        <div class="pricing-item-details">
                            
                            <h3> Click Item to Add to Order </h3>
                                <% menu.each do |item| %>
                                    <%= item.name %>
                                    <br>
                                    <br>
                                    <a class="btn btn-danger" href="/orderitems/<%=item.id%>">Add to Order now</a>
                                <% end %>

   
                            
                          
                            
                            <div class="clearfix"></div>
                        </div>
                        <!--price tag-->
                        <span class="hot-tag br-red">$26</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    
                    <div class="pricing-item">
                        
                        <a href="#"><img class="img-responsive img-thumbnail" src="/img/dish/dish2.jpg" alt=""></a>
                        
                        <div class="pricing-item-details">
                            
                            <h3><a href="#">Hot Fried Chicken</a></h3>
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            
                            <a class="btn btn-danger" href="#">Order now</a>
                            <div class="clearfix"></div>
                        </div>
                        <!--price tag-->
                        <span class="hot-tag br-lblue">$37</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix visible-md"></div>
                <div class="col-md-6 col-sm-6">
                    
                    <div class="pricing-item">
                        
                        <a href="#"><img class="img-responsive img-thumbnail" src="/img/dish/dish4.jpg" alt=""></a>
                        
                        <div class="pricing-item-details">
                            
                            <h3><a href="#">Thi Chicken Momo</a></h3>
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            
                            <a class="btn btn-danger" href="#">Order now</a>
                            <div class="clearfix"></div>
                        </div>
                        <!--price tag-->
                        <span class="hot-tag br-green">$54</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    
                    <div class="pricing-item">
                        
                        <a href="#"><img class="img-responsive img-thumbnail" src="/img/dish/dish1.jpg" alt=""></a>
                        
                        <div class="pricing-item-details">
                            
                            <h3><a href="#">Cocktail Sushi</a></h3>
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            
                            <a class="btn btn-danger" href="#">Order now</a>
                            <div class="clearfix"></div>
                        </div>
                        <!--price tag-->
                        <span class="hot-tag br-red">$27</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container --> 
    </div><!-- /#special-offser -->



                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        
                        <div class="pricing-item">
                            
                            
                            <div class="pricing-item-details">
                                
                                <h3></h3>
                                
                                <p></p>
                                
                                <h3><a class="btn btn-danger" href="#">Burgers</a></h3>
                                <div class="clearfix"></div>
                            </div>
                            <!--price tag-->
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        
                        <div class="pricing-item">
                            
                            
                            <div class="pricing-item-details">
                                
                                <h3><a href="#"></a></h3>
                                
                                <p></p>
                                
                                <h3><a class="btn btn-danger" href="#">Fries & Drinks</a></h3>
                                <div class="clearfix"></div>
                            </div>
                            <!--price tag-->
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
    <!--                 <div class="clearfix visible-md"></div>
     -->                <div class="col-md-6 col-sm-6">
                        
                        <div class="pricing-item">
                            
                            
                            <div class="pricing-item-details">
                                
                                <h3><a href="#"></a></h3>
                                
                                <p></p>
                                
                                <h3><a class="btn btn-danger" href="#">Build-A-Burger</a></h3>
                                <div class="clearfix"></div>
                            </div>
                            <!--price tag-->
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        
                        <div class="pricing-item">
                            
                            
                            <div class="pricing-item-details">
                                
                                <h3><a href="#"></a></h3>
                                
                                <p></p>
                                
                                <h3><a class="btn btn-danger" href="#">Finished</a></h3>
                                <div class="clearfix"></div>
                            </div>
                            <!--price tag-->
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>









.finalorder {
	font-size: 150%;
}

.floatleft {
    float:left;
    font-family:Papyrun, Arial;
	font-size: 200%;
	background-color: #3CB371;
	outline-style: solid;
	outline-color: #000000;
	outline-width: 3px;
 	padding-left:30px;
  	padding-right:30px;

}
.floatright {
    float:right;
    font-family:Papyrun, Arial;
	font-size: 150%;
	background-color: #3CB371;
	outline-style: solid;
	outline-color: #000000;
	outline-width: 3px;
	padding-left:30px;
  	padding-right:30px;
}


.signedin {
	float: right;
	font-size: 130%;
	padding-left: 8px;
	padding-right: 8px;
	color: #8B0000;
  	margin: 8px;
  	float: top;
  	background-color: #3CB371;
  	outline-style: solid;
	outline-color: #000000;
	outline-width: 3px;
	border-radius: 20px ; 

 }
.rowsignedin {
	float: right;
	background-color: #3CB371;
  	outline-style: solid;
	outline-color: #000000;
	outline-width: 3px;
	border-radius: 40px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px; 

}

img {
   display: inline-block;
}


.showingre {
font-size: 65%;
	background-color: #3CB371;
  	outline-style: solid;
	outline-color: #000000;
	outline-width: 3px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-radius: 15px;
	float: left;

}

.cilantropic {
	float: right;
	padding-right: 60px;
}

.backgroundshow {
	font-size: 65%;
	background-color: #3CB371;
  	outline-style: solid;
	outline-color: #000000;
	outline-width: 3px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-radius: 15px;
	float: left;
}







.signedinleft {
	font-size: 110%;
	color: #8B0000;
	background-color: #3CB371;
  	outline-style: solid;
	outline-color: #000000;
	outline-width: 3px;
	padding-left:30px;
  	padding-right:30px;
  	border-radius: 15px;
  	float: left;
  	text-align: center;

	
}

.floatleftburger {
	position: center;
	font-family: Papyrus, fantasy;
	font-size: 90%;
	font-weight: bolder;
	background-color: #3CB371;
	outline-style: solid;
	outline-color: #000000;
	outline-width: 3px;
	padding-left:10px;
  	padding-right:10px;
  	padding-top: 2px;
  	margin: 50px;
}










.burgername {
	color: #B22222;
	background-color: #3CB371;
	margin: 200px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;

}

.floatlefthook {
  	float: left;
	font-size: 140%;
 	padding-left:30px;
  	padding-right:30px;
  	background-color: #3CB371;
  	outline-style: solid;
	outline-color: #000000;
	outline-width: 3px;
	padding-left:30px;
  	padding-right:30px;
  	padding-top: 2px;
  	text-align: left;
 	color: #8B0000;
 	font-weight: bolder;
	font-family: "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif;



}

.green {
	color: #9ACD32;
	font-size: 80%;
	font-weight: bolder;
}



a {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
	color: #B22222;
	font-size: 120%;
	text-decoration: none;
    border-radius: 20px ; 

}
#burgerboss {
	color:  #000080;
}
.burgers {
	text-align: center;
	padding-top: 200px;
}

.discount {
	font-family: "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif;
	float: right;
	padding-left: 400px;
	font-size: 140%;
	color: #D2691E;
}

 .signedin2 {
	font-size: 150%;
	float: right;
	padding-left: 350px;
	color: #DAA520;
	padding-left:1px;
  	padding-right:60px;
  	padding-top: 100px;

}


 .signedin3 {
 	font-size: 130%;
	float: left;
	padding-right: 350px;
	color: #8B0000;
	padding-left:30px;
  	padding-right:30px;
    font-family:Papyrun, Arial;
    font-weight: bolder;
}


.floatleftuser {
	float:left;
    font-family:Papyrun, Arial;
	font-size: 100%;
	background-color: #3CB371;
	outline-style: solid;
	outline-color: #000000;
	outline-width: 3px;
 	padding-left:30px;
  	padding-right:30px;
  }

  body {
	background-image: url('breakfast2.png');
	background-size: 300px, 500px;
	background-position: right top;
	background-repeat: no-repeat;
}



h1 {	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
	color: #228B22;
	font-size: 250%;
	text-decoration: none;
}

.logsign {
	font-size: 260%;
	color: #800000;
}

.sign {
	font-size: 230%;
	color: #800000;
}

.userinfo {
	font-size: 120%;
	font-weight: bolder;
}

.show {
	color: #800000;
	font-size: 140%;
}

.submit_button {
	font-size: 15px;
}

.log {
	float: left;
	text-align: center;
	text-size: 110%;
}

.api {
	float: right;
	color: #7FFF00;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 20px;
	outline-width: 4px;
	padding-bottom: 20px; 
	outline-style: dotted;
	outline-color: #FFD700;
}



head {
	background-image: url('logo.JPG');
	background-size: 800px 140px;
	background-position: center-top;
	z-index: 999;

}
body {
	background-image: url('logo4.png'),
					  url('vegtables.png');
	background-size: 150px 150px, 1300px, 1500px;
	background-position: center top, left top;
	background-repeat: no-repeat;
}


.orderitems {
	float: left;
}



    <div id="special-offser" class="parallax pricing">
        <div class="container inner">

            <h2 class="section-title text-center">Order Here!</h2>
            <p class="lead main text-center"></p>













                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        
                        <div class="pricing-item">
                            
                            <img class="img-responsive img-thumbnail" src="/img/comingsoon.jpg">
                            
                            <div class="pricing-item-details">
                                
                                <h3><a href="#">The Original on Grilled Sourdough</h3>
                                
                                <p>Grilled Sourdough, Ketchup & Mayo, Tomatoes, Onions, Lettuce, Cheese, Beef Patty, Grilled Sourdough.</p>
                                
                                <a class="btn btn-danger">
                                    <%= form_tag "/orderitems", method: :post do %>
                                        <input type="hidden" name="menu_item_id" value="1">
                                        <input type="hidden" name="menu_item_type" value="Burger">
                                        <input type="hidden" name="quantity" value="1">
                                        <input type="hidden" value="Bagged">
                                        <div class="addbutton">
                                            <input type="submit" value="Add to Order">
                                        </div>
                                    <% end %>
                                </a>

                                <div class="clearfix"></div>
                            </div>
                            <!--price tag-->
                            <span class="hot-tag br-red">$3.75</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        
                        <div class="pricing-item">
                            
                            <img class="img-responsive img-thumbnail" src="/img/comingsoonclassic.jpg">
                            
                            <div class="pricing-item-details">
                                
                                <h3><a href="#">The Original on a Classic Bun</a></h3>
                                
                                <p>Grilled Classic Bun, Ketchup & Mayo, Tomatoes, Lettuce, Cheese, Beef Patty, Grilled Classic Bun.</p>
                                
                                <a class="btn btn-danger">
                                    <%= form_tag "/orderitems", method: :post do %>
                                        <input type="hidden" name="menu_item_id" value="2">
                                        <input type="hidden" name="menu_item_type" value="Burger">
                                        <input type="hidden" name="quantity" value="1">
                                        <input type="hidden" value="Bagged">
                                        <div class="addbutton">
                                            <input type="submit" value="Add to Order">
                                        </div>
                                    <% end %>
                                </a>
                            </div>
                            <!--price tag-->
                            <span class="hot-tag br-lblue">$3.75</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
    <!--                 <div class="clearfix visible-md"></div>
     -->                <div class="col-md-6 col-sm-6">
                        
                        <div class="pricing-item">
                            
                            <img class="img-responsive img-thumbnail" src="/img/comingsoon.jpg">
                            
                            <div class="pricing-item-details">
                                
                                <h3><a href="#">Salsa Verde with Grilled Sourdough</a></h3>
                                
                                <p>Salsa Verde, Grilled Sourdough, Ketchup & Mayo, Tomatoes, Onions, Lettuce, Cheese, Beef Patty, Grilled Sourdough.</p>
                                
                                <a class="btn btn-danger">
                                    <%= form_tag "/orderitems", method: :post do %>
                                        <input type="hidden" name="menu_item_id" value="3">
                                        <input type="hidden" name="menu_item_type" value="Burger">
                                        <input type="hidden" name="quantity" value="1">
                                        <input type="hidden" value="Bagged">
                                        <div class="addbutton">
                                            <input type="submit" value="Add to Order">
                                        </div>
                                    <% end %>
                                </a>
                            </div>
                            <!--price tag-->
                            <span class="hot-tag br-green">$4.50</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        
                        <div class="pricing-item">
                            
                            <img class="img-responsive img-thumbnail" src="/img/cilantroverde.jpg">
                            
                            <div class="pricing-item-details">
                                
                                <h3><a href="#">Cilantro with Salsa Verde on a Classic Bun</a></h3>
                                
                                <p>Salsa Verde, Grilled Classic Bun, Ketchup & Mayo, Tomatoes, Onions, Cilantro, Lettuce, Cheese, Beef Patty, Grilled Classic Bun.</p>
                                
                                <a class="btn btn-danger">
                                    <%= form_tag "/orderitems", method: :post do %>
                                        <input type="hidden" name="menu_item_id" value="4">
                                        <input type="hidden" name="menu_item_type" value="Burger">
                                        <input type="hidden" name="quantity" value="1">
                                        <input type="hidden" value="Bagged">
                                        <div class="addbutton">
                                            <input type="submit" value="Add to Order">
                                        </div>
                                    <% end %>
                                </a>
                            </div>
                            <!--price tag-->
                            <span class="hot-tag br-red">$4.50</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        
                        <div class="pricing-item">
                            
                            <img class="img-responsive img-thumbnail" src="/img/comingsoon.jpg">
                            
                            <div class="pricing-item-details">
                                
                                <h3><a href="#">Chipotle with Grilled Sourdough</h3>
                                
                                <p>Chipotle Sauce, Grilled Sourdough, Ketchup & Mayo, Tomatoes, Onions, Lettuce, Cheese, Beef Patty, Grilled Sourdough.</p>
                                
                                <a class="btn btn-danger">
                                    <%= form_tag "/orderitems", method: :post do %>
                                        <input type="hidden" name="menu_item_id" value="5">
                                        <input type="hidden" name="menu_item_type" value="Burger">
                                        <input type="hidden" name="quantity" value="1">
                                        <input type="hidden" value="Bagged">
                                        <div class="addbutton">
                                            <input type="submit" value="Add to Order">
                                        </div>
                                    <% end %>
                                </a>
                            </div>
                            <!--price tag-->
                            <span class="hot-tag br-red">$4.50</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-6">
                        
                        <div class="pricing-item">
                            
                            <img class="img-responsive img-thumbnail" src="/img/comingsoon.jpg">
                            
                            <div class="pricing-item-details">
                                
                                <h3><a href="#">Red Tomatillo Salsa with Grilled Sourdough</h3>
                                
                                <p>Red Tomatillo Salsa, Grilled Sourdough, Ketchup & Mayo, Tomatoes, Onions, Lettuce, Cheese, Beef Patty, Grilled Sourdough.</p>
                                
                                <a class="btn btn-danger">
                                    <%= form_tag "/orderitems", method: :post do %>
                                        <input type="hidden" name="menu_item_id" value="6">
                                        <input type="hidden" name="menu_item_type" value="Burger">
                                        <input type="hidden" name="quantity" value="1">
                                        <input type="hidden" value="Bagged">
                                        <div class="addbutton">
                                            <input type="submit" value="Add to Order">
                                        </div>
                                    <% end %>
                                </a>
                            </div>
                            <!--price tag-->
                            <span class="hot-tag br-red">$4.50</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        
                        <div class="pricing-item">
                            
                            <img class="img-responsive img-thumbnail" src="/img/comingsoon.jpg">
                            
                            <div class="pricing-item-details">
                                
                                <h3><a href="#">Avocados on Grilled Sourdough</h3>
                                
                                <p>Grilled Sourdough, Ketchup & Mayo, Tomatoes, Onions, Avocados, Lettuce, Cheese, Beef Patty, Grilled Sourdough.</p>
                                
                                <a class="btn btn-danger">
                                    <%= form_tag "/orderitems", method: :post do %>
                                        <input type="hidden" name="menu_item_id" value="7">
                                        <input type="hidden" name="menu_item_type" value="Burger">
                                        <input type="hidden" name="quantity" value="1">
                                        <input type="hidden" value="Bagged">
                                        <div class="addbutton">
                                            <input type="submit" value="Add to Order">
                                        </div>
                                    <% end %>
                                </a>
                            </div>
                            <!--price tag-->
                            <span class="hot-tag br-red">$4.50</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-6">
                        
                        <div class="pricing-item">
                            
                            <img class="img-responsive img-thumbnail" src="/img/eggtot.JPG">
                            
                            <div class="pricing-item-details">
                                
                                <h3><a href="#">Egg Breakfast Burger with Tater Tots</h3>
                       
                                <p>Your Choice of Salsa, Grilled Sourdough, Ketchup, Tomatoes, Onions, Cilantro, Lettuce, Egg Omelette with Cheese, Beef Patty, Tater Tots, Avocados, Grilled Sourdough.</p>
                                
                                <a class="btn btn-danger">
                                    <%= form_tag "/orderitems", method: :post do %>
                                        <input type="hidden" name="menu_item_id" value="8">
                                        <input type="hidden" name="menu_item_type" value="Burger">
                                        <input type="hidden" name="quantity" value="1">
                                        <input type="hidden" value="Bagged">
                                        <div class="addbutton">
                                            <input type="submit" value="Add to Order">
                                        </div>
                                    <% end %>
                                </a>
                            </div>
                            <!--price tag-->
                            <span class="hot-tag br-red">$4.50</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        
                        <div class="pricing-item">
                            
                            <img class="img-responsive img-thumbnail" src="/img/comingsoon.jpg">
                            
                            <div class="pricing-item-details">
                                
                                <h3><a href="#">Build-A-Burger</h3>
                                
                                <p>All Ingredients.</p>
                                
                                <a class="btn btn-danger" href="#">Add to Order</a>
                                <div class="clearfix"></div>
                            </div>
                            <!--price tag-->
                            <span class="hot-tag br-red">$4.50</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>
        </div>
        <!-- /.container --> 
    </div><!-- /#special-offser -->




